
<div id="page-wrapper">

    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Update Product(s)
                </h1>
            </div>
        </div>

        <div class="col-md-12" id="result_msg" ng-show="display_result">
            <div ng-class="{'alert alert-success': success, 'alert alert-danger': failed}">
                {{result_msg}} 
            </div>
        </div>

        <!--
        <div class="alert alert-info alert-dismissible">
            <span class="close" data-dismiss="alert" aria-label="close">&times;</span>
            <i class="fa fa-info-circle"></i> Discribe this page and give the user an idea on how to use it. <strong><a href="video.url">Click here (Video Tutorial)</a></strong>
        </div>
        -->

    <form method="POST" ng-submit="updateMultipleProduct()">
        <div class="row">
            <div class="col-lg-12">

                <div class="row" id="section-user-info">
                    <div class="col-lg-12"><br/></div>

                    <section ng-repeat="val in listproducts" ng-class-odd="'multipleupdate_odd'" ng-class-even="'multipleupdate_even'">

                    <div class="col-lg-1"></div>

                    <div class="col-lg-10">
                        <div class="col-lg-12">
                            <div class="form-group col-md-3">
                                <p class="top-space">Product Code</p>
                            </div>
                            <div class="form-group col-md-6">
                                <input type="text" id="code_{{val.product_id}}" value="{{val.code}}" class="form-control">
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="form-group col-md-3">
                                <p class="top-space">Product Name <span>*</span></p>
                            </div>
                            <div class="form-group col-md-6">
                                <input type="text" id="name_{{val.product_id}}" value="{{val.name}}" class="form-control" required>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="form-group col-md-3">
                                <p class="top-space">Category</p>
                            </div>
                            <div class="form-group col-md-6">
                                <select id="category_id_{{val.product_id}}" class="form-control">
                                    <option ng-repeat="sel in categories" value="{{sel.category_id}}" ng-selected="{{sel.category == val.category}}">{{sel.category}}</option>
                                </select>
                            </div>
                        </div>

                        <!--
                        <div class="col-lg-12">
                            <div class="form-group col-md-3">
                                <p class="top-space">Description</p>
                            </div>
                            <div class="form-group col-md-6">
                                <textarea id="description_{{val.product_id}}" class="form-control" rows="3">{{val.description}}</textarea>        
                            </div>
                        </div>
                        -->

                        <div class="col-lg-12">
                            <div class="form-group col-md-3">
                                <p class="top-space">Unit Price</p>
                            </div>
                            <div class="form-group col-md-6">
                                <input type="text" id="price_{{val.product_id}}" value="{{val.price.toFixed(2)}}" class="form-control" onkeypress="validateNumber(event)">
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="form-group col-md-3">
                                <p class="top-space">Quantity</p>
                            </div>
                            <div class="form-group col-md-6">
                                <input type="text" id="qty_{{val.product_id}}" value="{{val.qty}}" class="form-control" onkeypress="validateNumber(event)">
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-1"></div>

                    </section>

                    <div class="col-lg-12"><br/><br/><br/></div>

                    <div class="col-lg-12 text-center">
                        <div class="col-lg-4"></div>

                        <div class="col-lg-2">
                            <input type="button" class="btn btn-danger btn-lg btn-block" value="Cancel" ng-click="gotoList()">
                        </div>

                        <div class="col-lg-2">
                            <input type="submit" class="btn btn-success btn-lg btn-block" value="Save">
                        </div>
                        <div class="col-lg-4"></div>
                    </div>

                </div>

                <div class="col-lg-12"><br/><br/></div>

                <!--
                <div class="col-md-12" id="result_msg" ng-show="display_result">
                    <div ng-class="{'alert alert-success': success, 'alert alert-danger': failed}">
                        {{result_msg}} 
                    </div>
                </div>
                -->

                <div class="col-lg-12"><br/></div>
            </div>
        </div>
    </form>
        <!-- /.row -->

    </div>

</div>